# virtual envs
.venv/
venv/
jarvis_env/

# build artifacts
dist/
build/
dmg/
installers/

# release files
*.zip
*.dmg
*.app

# logs & temp
*.log
*.wav
*.bak
__pycache__/
.DS_Store

# secrets
.env
JARVIS_MARK_I_1.0.0/
JARVIS_MARK_I_1.0.0/
